html,
body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FE8A38;
  box-shadow: 0px 1px 1px gray;
}

#title-top-area {
  display: flex;
  list-style: none;
}

.title-logo-img {
  display: inline-block;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 9px;
  width: 75px;
  height: 75px;
}

.title {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 12px;
  margin-bottom: -8px;
  color: white;
}

.title-links-area {
  display: flex;
  list-style: none;
  margin-left: -80px;
}

.topbar-link-item {
  display: inline-block;
  padding-left: 10px;
}

span.title-text {
  display: inline-block;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: none;
  text-decoration: none;
  color: white;
}

a.button.is-current {
  border-bottom: solid;
}

main {
  margin-top: 140px;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (min-width: 498px) {
  main {
    margin-top: 110px;
  }
  .title-links-area {
    margin-left: 15px;
  }
}

p {
  line-height: 2;
  letter-spacing: 1px;
  white-space: pre-wrap;
}

img {
  max-width: 30%;
  height: auto;
}

#twitter-area {
  margin-top: 20px;
  padding: 20px;
  max-width: 400px;
  background-image: linear-gradient(135deg, #1da1f2, #981ceb);
  background-color: #1b95e0;
}

#twitter-widget-0 {
  max-width: 400px !important;
}

footer {
  text-align: center;
  margin-top: 10px;
  padding: 3px;
  background-color: #f8f9fa;
  color: #202124;
  color: #5f6368;
}

.news-header {
  display: flex;
}

.news-more {
  position: absolute;
  margin-top: 20px;
  right: 40px;
  background-color: #FE8A38;
  border-radius: 1.6em;
  width: 8.5em;
  overflow: hidden;
  letter-spacing: 0.05em;
  line-height: 1.6;
}

.news-content {
  display: flex;
}

.news-list-item {
  list-style-type: none;
  border-bottom: dotted;
}

.news-link {
  color: black;
  text-decoration: none;
  margin-left: 20px;
}

.news-more-link {
  display: block;
  padding: 0.4em 0;
  text-align: center;
  text-decoration: none;
  color: white;
}

.news-publish-date {
  color: gray;
  margin-left: 5px;
}