html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.mdl-color--primary .mdl-layout {
  background-color: #FE8A38 !important;
}

.mdl-layout__header-row .mdl-navigation__link {
  color: white;
}